<%= image_tag @portfolio_item.main_image %>

<h2><%= @portfolio_item.title %></h2>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<% if !@portfolio_item.technologies.empty? %>
	<h2>Technologies used</h2>
	<% @portfolio_item.technologies.each do |t| %>
	<p><%= t.name %></p>
	<% end %>
<% end %>